$fonts: "Open Sans", sans-serif;

$color-base: #000000;
$color-background: #222222;
$color-border: #000000;

$color-text: #F9F9F9;
$color-panel: #000000;

$color-link: #F9F9F9;
$color-button: #000000;
$color-hover: #000000;