<div class="container">

<div id="profile" class="profile-block animated fadeInLeft">
    <div class="ui-block">
        <div class="container">

        <div class="sub-block">
        <img src="./img/profile_picture.jpg"/>
        </div>

        <div class="sub-block">
        <h3>profile</h3>

        <dl>
            <dt>name</dt>
            <dd>nguyen tuan cuong</dd>
            <dt>email</dt>
            <dd>cuongnguyen@yami.moe</dd>
            <dt>professions</dt>
            <dd>
                <ul>
                <li>programming</li>
                <li>ui/ux design</li>
                <li>spam</li>
                <li>fuck</li>
                <li>fingering</li>
                </ul>
            </dd>
        </dl>
        </div>

        </div>
    </div>
</div>

<div class="projects-block">
    <div id="project1" class="project-block animated fadeInRight">

        <div class="pure-g row-1">
            <div class="pure-u-3-5">

                <div class="main">
                    <div class="header">Get High <i class="fa fa-caret-down"></i></div>
                    <div class="description">
                        <dl>
                            <dt>project deadline</dt>
                            <dd>2014.11.06</dd>
                            <dt>current phase</dt>
                            <dd>4/4</dd>
                            <dt>description</dt>
                            <dd class="big-description">
                                <p>deadline, fucking deadline.</p>
                                <p>i'm being fucked with this fucking project, halpppp.</p>
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>

            <div class="pure-u-2-5">

                <div class="members">
                    <dl>
                        <dt>team members</dt>
                        <dd>
                            <ul>
                            <li>nguyen tuan cuong</li>
                            <li>risa tachibana</li>
                            <li>cocomi naruse</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="task row-2">
            <dl>
                <dt>current task</dt>
                <dd>finish this fucking project</dd>
                <dt>deadline</dt>
                <dd>2014.11.06</dd>
            </dl>
        </div>

    </div>

    <div id="project2" class="project-block animated fadeInRight">

        <div class="pure-g row-1">
            <div class="pure-u-3-5">

                <div class="main">
                    <div class="header">Get High <i class="fa fa-caret-down"></i></div>
                    <div class="description">
                        <dl>
                            <dt>project deadline</dt>
                            <dd>2014.11.06</dd>
                            <dt>current phase</dt>
                            <dd>4/4</dd>
                            <dt>description</dt>
                            <dd class="big-description">
                                <p>deadline, fucking deadline.</p>
                                <p>i'm being fucked with this fucking project, halpppp.</p>
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>

            <div class="pure-u-2-5">

                <div class="members">
                    <dl>
                        <dt>team members</dt>
                        <dd>
                            <ul>
                            <li>nguyen tuan cuong</li>
                            <li>risa tachibana</li>
                            <li>cocomi naruse</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="task row-2">
            <dl>
                <dt>current task</dt>
                <dd>finish this fucking project</dd>
                <dt>deadline</dt>
                <dd>2014.11.06</dd>
            </dl>
        </div>

    </div>

    <div id="project3" class="project-block animated fadeInRight">

        <div class="pure-g row-1">
            <div class="pure-u-3-5">

                <div class="main">
                    <div class="header">Get High <i class="fa fa-caret-down"></i></div>
                    <div class="description">
                        <dl>
                            <dt>project deadline</dt>
                            <dd>2014.11.06</dd>
                            <dt>current phase</dt>
                            <dd>4/4</dd>
                            <dt>description</dt>
                            <dd class="big-description">
                                <p>deadline, fucking deadline.</p>
                                <p>i'm being fucked with this fucking project, halpppp.</p>
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>

            <div class="pure-u-2-5">

                <div class="members">
                    <dl>
                        <dt>team members</dt>
                        <dd>
                            <ul>
                            <li>nguyen tuan cuong</li>
                            <li>risa tachibana</li>
                            <li>cocomi naruse</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="task row-2">
            <dl>
                <dt>current task</dt>
                <dd>finish this fucking project</dd>
                <dt>deadline</dt>
                <dd>2014.11.06</dd>
            </dl>
        </div>

    </div>
</div>

</div>